<footer class="row">
    <div class="col-4"></div>
    <h2 class="col-4">&copy; 2023 <strong>Riki The Rikster</strong></h2>
    <div class="col-4"></div>
    <nav class="col-12 row">
            <div class="col-4"></div>
            <a  class="btn col-2" href="/">Home</a>
            <a class="btn col-2" href="/books">Catalogue</a>
            <div class="col-4"></div>
    </nav>
</footer>