<footer class="row">
    <div class="col-4"></div>
    <h2 class="col-4">&copy; 2023 BookLog</h2>
    <div class="col-4"></div>
    <nav class="col-12 row">
            <div class="col-4"></div>
            <a  class="col-2" href="/">Home</a>
            <a class="col-2" href="/books">Catalogue</a>
            <div class="col-4"></div>
    </nav>
</footer>