<header class="row" id="nav">
    <div class="col-2 col-sm-1"></div>
    <h1 class="col-8 col-sm-5">BookLog</h1>
    <div class="col-2 col-sm-1"></div>
    <nav class="col-12 col-sm-5 row justify-content-between">
        <a class="btn col-5" href="/">Home</a>
        <a class="btn col-5" href="/books">Catalogue</a>
    </nav>
</header>