<header class="row">
    <div class="col-1"></div>
    <h1 class="col-5">BookLog</h1>
    <div class="col-1"></div>
    <nav class="col-5 row">
        <a class="col-5" href="/">Home</a>
        <a class="col-5" href="/books">Catalogue</a>
    </nav>
</header>